In [20]:
a = 2
print(a)
print(age)

2
50

## This is a title

#### Subtitle here

* List item 1
* List item 2
* list item 3

In [13]:
a  = 2
type(a)
a = 2.4

type(a)

type(4 + 4)

type(4 + 4.2)

type("hello " + "world")
"hello " + "world"

False or True
False and True

4 < 2

4 > 2

age = 50

age > 18 and age < 30

age == 50

age == 20

age != 20

age

50

In [19]:
print(age)

50

In [22]:
print("age + 2")
print(age + 2)

age + 2
52

In [28]:
my_list = [] # empty list
my_list = [4, 2, 5, True, "Hello", [2, 5, 4], 14, False, 22]
my_list[0] # first element
my_list[1] # 2nd element
my_list[-1] # last element
my_list[-1][1]
my_list[-3]

True

In [53]:
my_list[0] = 54
print(my_list)
len(my_list)
my_list = [4, 6, 7, 1, 0, 12]
min(my_list)
max(my_list)

my_list + [2, 4, 7]
my_list * 2 

my_list.append([15, 4])
my_list.extend([15, 4]) # my_list = my_list + [15, 4]

# import numpy as np
# type(np.array(my_list))
# array = np.array([1, 5])
# array.dot(np.array([[0, 1], [-1, 0]]))
# array.dot(np.array([[12, 0], [0, 3]]))
# # np.array([[0, 1], [-1, 0]])

[54, 6, 7, 1, 0, 12, [15, 4], 15, 4]

In [64]:
my_list[0:4]
my_list[4:6]
my_list[:4]
my_list[2:]
my_list[2:-1]
my_list[4:8:2]
my_list[::-2]

print(my_list)
# Récupérer les 3 premiers éléments
print(my_list[:3])
# Récupérer les 4 derniers éléments
print(my_list[-4:])
# Récupérer les éléments du 2e au 7e de deux en deux
print(my_list[1:7:2])
# Récupérer les éléments du 2e en partant de la fin au 3e (sens inverse)
print(my_list[-2:1:-1])

# https://github.com/komi24/coursBNP12112019

[4, 6, 7, 1, 0, 12, [15, 4], 15, 4]
[4, 6, 7]
[12, [15, 4], 15, 4]
[6, 1, 12]
[15, [15, 4], 12, 0, 1, 7]

In [1]:
age = 1

while age < 18:
#     print("Vous avez " + str(age))
    print(f"Vous avez {age} ans")
    age = -2* age # age = age + 2
    
print("fin")

Vous avez 1 ans
Vous avez -2 ans
Vous avez 4 ans
Vous avez -8 ans
Vous avez 16 ans
Vous avez -32 ans
fin

In [17]:
my_list = [4, 6, 7, 1, 0, 12]

for element in my_list:
    print(element)
    print("interieur")
    
print("exterieur")
# for i in range(len(my_list)):
#     print(my_list[i])

# for i in range(10):
#     print(i)
    
# for i in range(4, 10):
#     print(i)

4
interieur
6
interieur
7
interieur
1
interieur
0
interieur
12
interieur
exterieur

In [10]:
# list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
age = 16

if age > 18:
    print("majeur")
elif age < 18:
    print("mineur")
else:
    print("va passer ton bac")

mineur

In [18]:
if age > 18:
    print("majeur")
elif age > 16:
    print("mineur")

if age > 18:
    print("majeur")
if age > 16:
    print("mineur")

## Fizz Buzz

Pour tous les entiers de 0 à 100 : 
* On affiche "fizz" si l'entier est multiple de 3
* On affiche "buzz" si l'entier est multiple de 5
* On affiche "bazz" si l'entier est multiple de 3 et 5
* On affiche l'entier

#### Résultat :
* bazz
* 1
* 2
* fizz
* 4
* buzz
* fizz
...

In [24]:
for i in range(11):
    if i % 3 == 0 and i % 5 == 0:
        print("bazz")
    elif i % 3 == 0:
        print("fizz")
    elif i % 5 == 0:
        print("buzz")
    else:
        print(i)

bazz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz

In [27]:
age = int(input("How old are you ?"))

How old are you ?35

In [28]:
print(type(age))

<class 'int'>

In [34]:
from random import randint

secret = randint(0, 100)
guess = None

"""
    The user guess a number.
    The computer says if it's too small or too big
    So that user can make other guesses untill it's correct
"""
while guess != secret:
    guess = int(input("Guess a number"))
    if guess < secret:
        print("Too small")
    elif guess > secret:
        print("Too big")
print("You won")

Guess a number50
Too big
Guess a number25
Too small
Guess a number32
Too small
Guess a number38
You won

In [37]:
borne_min = 0
borne_max = 101
answer = None

while answer != "E":
    guess = (borne_min + borne_max) // 2
    answer = input(f"I think it's {guess}. Isn't it ? B/S/E")
    if answer == "B":
        borne_min = guess
    elif answer == "S":
        borne_max = guess
        
print("Computer won !")

I think it's 50. Isn't it ? B/S/EB
I think it's 75. Isn't it ? B/S/EB
I think it's 88. Isn't it ? B/S/EB
I think it's 94. Isn't it ? B/S/EB
I think it's 97. Isn't it ? B/S/EB
I think it's 99. Isn't it ? B/S/EB
I think it's 100. Isn't it ? B/S/EE
Computer won !

In [1]:
def say_hi(name, age=35, location="Paris"):
    print(f"Hello {name}. I am {age} y.o. I live in {location}")

In [4]:
say_hi("Martin", 40)
say_hi("Justine", location="Campinas")

result = say_hi("Jeanne")

print(result) # None

Hello Martin. I am 40 y.o. I live in Paris
Hello Justine. I am 35 y.o. I live in Campinas
Hello Jeanne. I am 35 y.o. I live in Paris
None

In [6]:
def addition(a, b):
    return a + b, None

result, param = addition(4, 8)
print(result)
print(param)

12
None

In [12]:
a, b = 12, 25
# print(a)
# print(b)

def display_a_b():
    print(f"display a : {a}")
    print(f"display b : {b}")

a, b = 10, 22
display_a_b()

display a : 10
display b : 22

In [14]:
a, b = 12, 25
# print(a)
# print(b)

def display_a_b():
    a, b = 10, 22
    print(f"display a : {a}")
    print(f"display b : {b}")

display_a_b()
print(a)
print(b)

display a : 10
display b : 22
12
25

In [15]:
a, b = 12, 25
# print(a)
# print(b)

def display_a_b():
    print(f"display a : {a}")
    print(f"display b : {b}")
    a, b = 10, 22

display_a_b()
print(a)
print(b)

UnboundLocalError: local variable 'a' referenced before assignment

In [16]:
a, b = 12, 25
# print(a)
# print(b)

def display_a_b():
    global a, b
    print(f"display a : {a}")
    print(f"display b : {b}")
    a, b = 10, 22

display_a_b()
print(a)
print(b)

display a : 12
display b : 25
10
22

In [18]:
def say_hi(list_param):
    list_param[0] = "Martin"
    print(f"Hello {list_param[0]}. I am {list_param[1]} y.o. I live in {list_param[2]}")
    
params = ["Justine", "42", "Paris"]
say_hi(params)
print(params)

Hello Martin. I am 42 y.o. I live in Paris
['Martin', '42', 'Paris']

In [19]:
def say_hi(list_param):
    list_param[0] = "Martin"
    print(f"Hello {list_param[0]}. I am {list_param[1]} y.o. I live in {list_param[2]}")
    
params = ("Justine", "42", "Paris")
say_hi(params)
print(params)

TypeError: 'tuple' object does not support item assignment

In [26]:
def say_hi(list_param):
    list_param["firstname"] = "Mario"
    print((f"Hello {list_param['firstname']}."
          f" I am {list_param['age']} y.o."
          f" I live in {list_param['location']}"))
    
params = {"firstname": "Justine", "age":"42", "location":"Paris"}
say_hi(params)
print(params["firstname"])

Hello Mario. I am 42 y.o. I live in Paris
Mario

In [34]:
import pandas as pd

# df = pd.read_csv("/usr/src/opendata_layer/kaggle/pokemon.csv")
df = pd.read_csv("pokemon.csv")
liste_pokemon = df.to_dict("records")

In [35]:
liste_pokemon[0]

{'abilities': "['Overgrow', 'Chlorophyll']",
 'against_bug': 1.0,
 'against_dark': 1.0,
 'against_dragon': 1.0,
 'against_electric': 0.5,
 'against_fairy': 0.5,
 'against_fight': 0.5,
 'against_fire': 2.0,
 'against_flying': 2.0,
 'against_ghost': 1.0,
 'against_grass': 0.25,
 'against_ground': 1.0,
 'against_ice': 2.0,
 'against_normal': 1.0,
 'against_poison': 1.0,
 'against_psychic': 2.0,
 'against_rock': 1.0,
 'against_steel': 1.0,
 'against_water': 0.5,
 'attack': 49,
 'base_egg_steps': 5120,
 'base_happiness': 70,
 'base_total': 318,
 'capture_rate': '45',
 'classfication': 'Seed Pokémon',
 'defense': 49,
 'experience_growth': 1059860,
 'height_m': 0.7,
 'hp': 45,
 'japanese_name': 'Fushigidaneフシギダネ',
 'name': 'Bulbasaur',
 'percentage_male': 88.1,
 'pokedex_number': 1,
 'sp_attack': 65,
 'sp_defense': 65,
 'speed': 45,
 'type1': 'grass',
 'type2': 'poison',
 'weight_kg': 6.9,
 'generation': 1,
 'is_legendary': 0}

In [44]:

def filter_by(list_pokemon, key, threshold=50, key2="name"):
    """
        return all pokemon dont la val associée 
        à la clé est supérieure à threshold
        
        :param list_pokemon: List of all pokemons
        :param key: key on which we filter
        :param threshold: threshold

        :Example:
        >>> filter_by('defense', 50)
        [all pokemon whose defense is greater than 50]
    """
#     pokemon[key]
#     pokemon["defense"]
    result_list = []
    for pokemon in list_pokemon:
        if pokemon[key] > 50:
            result_list.append(pokemon[key2])
    return result_list

In [46]:
filter_by(liste_pokemon, "defense", key2="attack")

[62,
 100,
 64,
 104,
 48,
 63,
 103,
 20,
 60,
 80,
 71,
 90,
 95,
 75,
 100,
 47,
 62,
 92,
 72,
 102,
 70,
 67,
 80,
 50,
 65,
 80,
 70,
 95,
 65,
 100,
 60,
 82,
 105,
 110,
 65,
 95,
 50,
 100,
 130,
 105,
 70,
 80,
 95,
 120,
 85,
 100,
 65,
 75,
 35,
 60,
 90,
 110,
 45,
 70,
 105,
 65,
 95,
 65,
 45,
 73,
 105,
 130,
 50,
 40,
 105,
 50,
 80,
 120,
 105,
 55,
 65,
 90,
 85,
 130,
 55,
 125,
 40,
 65,
 67,
 92,
 45,
 75,
 45,
 110,
 83,
 95,
 155,
 100,
 10,
 155,
 85,
 65,
 65,
 130,
 60,
 40,
 60,
 80,
 115,
 135,
 110,
 85,
 90,
 100,
 84,
 134,
 150,
 100,
 49,
 62,
 82,
 64,
 84,
 65,
 80,
 105,
 76,
 90,
 90,
 58,
 20,
 40,
 75,
 55,
 95,
 80,
 50,
 100,
 75,
 55,
 70,
 75,
 85,
 65,
 65,
 75,
 60,
 33,
 80,
 65,
 90,
 70,
 75,
 125,
 120,
 95,
 150,
 10,
 185,
 95,
 130,
 50,
 100,
 55,
 105,
 40,
 80,
 90,
 95,
 60,
 120,
 80,
 95,
 95,
 80,
 85,
 115,
 75,
 84,
 164,
 90,
 130,
 100,
 110,
 85,
 160,
 85,
 150,
 90,
 70,
 35,
 35,
 50,
 70,
 100,
 85,
 50,
 85,
 60,
 40,
 130,
 60,
 80,
 160,
 45,
 91,
 120,
 45,
 65,
 85,
 105,
 70,
 90,
 140,
 40,
 100,
 75,
 73,
 47,
 43,
 73,
 140,
 120,
 85,
 45,
 60,
 100,
 115,
 40,
 110,
 115,
 100,
 55,
 95,
 78,
 80,
 120,
 40,
 70,
 41,
 81,
 125,
 60,
 70,
 90,
 165,
 40,
 70,
 68,
 50,
 150,
 120,
 60,
 80,
 64,
 104,
 84,
 90,
 30,
 75,
 95,
 145,
 55,
 75,
 145,
 100,
 50,
 75,
 100,
 130,
 150,
 180,
 180,
 100,
 95,
 68,
 89,
 109,
 78,
 104,
 51,
 66,
 86,
 120,
 85,
 85,
 120,
 70,
 165,
 42,
 52,
 69,
 80,
 45,
 105,
 60,
 83,
 100,
 136,
 60,
 125,
 82,
 93,
 24,
 89,
 80,
 92,
 90,
 170,
 145,
 72,
 112,
 50,
 90,
 106,
 100,
 49,
 69,
 132,
 120,
 70,
 85,
 140,
 100,
 123,
 95,
 50,
 76,
 110,
 60,
 95,
 130,
 80,
 165,
 55,
 100,
 80,
 65,
 75,
 105,
 125,
 120,
 120,
 90,
 160,
 120,
 70,
 80,
 100,
 90,
 103,
 120,
 100,
 45,
 60,
 75,
 93,
 123,
 75,
 100,
 85,
 80,
 110,
 98,
 98,
 98,
 55,
 77,
 115,
 100,
 75,
 105,
 135,
 57,
 135,
 60,
 80,
 105,
 140,
 65,
 95,
 100,
 125,
 53,
 63,
 103,
 45,
 55,
 100,
 27,
 67,
 60,
 92,
 117,
 30,
 86,
 65,
 105,
 75,
 90,
 58,
 30,
 50,
 78,
 108,
 140,
 50,
 95,
 105,
 95,
 45,
 55,
 65,
 87,
 65,
 95,
 100,
 75,
 135,
 85,
 60,
 75,
 77,
 50,
 94,
 55,
 80,
 100,
 85,
 115,
 55,
 75,
 30,
 40,
 55,
 87,
 117,
 147,
 130,
 40,
 66,
 125,
 120,
 124,
 85,
 125,
 110,
 123,
 55,
 65,
 97,
 109,
 85,
 105,
 85,
 60,
 90,
 129,
 90,
 100,
 105,
 120,
 150,
 145,
 120,
 72,
 128,
 120,
 61,
 78,
 107,
 59,
 69,
 63,
 145,
 56,
 73,
 81,
 22,
 50,
 68,
 65,
 65,
 100,
 82,
 124,
 80,
 48,
 48,
 80,
 110,
 52,
 72,
 48,
 80,
 54,
 92,
 52,
 105,
 60,
 75,
 53,
 73,
 55,
 89,
 121,
 77,
 65,
 92,
 58,
 50,
 75,
 100,
 80,
 110,
 66,
 100,
 69,
 117,
 70,
 131,
 131,
 100,
 160,
 160,
 110,
 55,
 75,
 107,
 115,
 54,
 69,
 74,
 120,
 110,
 82,
 70,
 82,
 132,
 70,
 55,
 115,
 140,
 53,
 63,
 100,
 125,
 40,
 70,
 105,
 35,
 45,
 64,
 125,
 120,
 52,
 60,
 120,
 125,
 55,
 75,
 60,
 95,
 95,
 100,
 115,
 78,
 98,
 90,
 105,
 60,
 131,
 55,
 75,
 110,
 115,
 85,
 130,
 75,
 29,
 137,
 113,
 139,
 89,
 101,
 181,
 101,
 107,
 95]

In [50]:
def bubble_sort(array):
    result = array.copy()
    for j in range(len(result)-1):
        for i in range(len(result)-1):
            if result[i] > result[i+1]:
                result[i], result[i+1] = result[i+1], result[i]
    return result

bubble_sort([5,4,7,9,0])

[0, 4, 5, 7, 9]

In [51]:
for i, val in enumerate([4,2,6,1,7,13]):
    print(f"indice : {i}, valeur: {val}")

indice : 0, valeur: 4
indice : 1, valeur: 2
indice : 2, valeur: 6
indice : 3, valeur: 1
indice : 4, valeur: 7
indice : 5, valeur: 13

In [52]:
for i1, i2 in zip([4,2,60], [1,7,13]):
    print(f"i1: {i1} i2: {i2}")

i1: 4 i2: 1
i1: 2 i2: 7
i1: 60 i2: 13

In [53]:
from itertools import product

for i1,i2 in product([4,2,60], [1,7,13]):
    print(f"i1: {i1} i2: {i2}")

i1: 4 i2: 1
i1: 4 i2: 7
i1: 4 i2: 13
i1: 2 i2: 1
i1: 2 i2: 7
i1: 2 i2: 13
i1: 60 i2: 1
i1: 60 i2: 7
i1: 60 i2: 13